{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<div class="col-md-4 offset-md-4">
<h1 class="text-center">Create your account</h1>
<br>
<form action="{% url 'signup' %}" method="post">
  {% csrf_token %}
  {% if form.errors %}
  {{ form.errors }}
  {% endif %}
  {{ form | crispy }}
  <input class="btn btn-primary btn-block" type="submit" value="Get started">
</form>
</div>
{% endblock %}
