{% extends 'base.html' %}
{% block content %}
<div class="container">
<ul class="list-group">
  <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
  <li class="list-group-item"><b>API Key:</b> {{ user.email }}</li>
</ul>
</div>
{% endblock %}
