{% extends 'base.html' %}
{% block content %}
<div class="container">
<table class="table">
  <thead>
    <td>Target id</td>
    <td>Exposed at</td>
    <td>Segment</td>
    <td>Experiment Name</td>
  </thead>
  <tbody>
    {% for exposure in exposures %}
    <tr>
      <td>{{ exposure.target_id }}</td>
      <td>{{ exposure.created_at }}</td>
      <td>{{ exposure.segment }}</td>
      <td>{{ exposure.experiment.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
