{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<div class="col-md-4 offset-md-4">
<h1 class="text-center">Login</h1>
<br>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% if form.errors %}
  {{ form.errors }}
  {% endif %}
  {{ form | crispy }}
  <input class="btn btn-primary btn-block" type="submit" value="Log in"></input>
</form>
</div>
{% endblock %}
