{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="col-md-6 offset-md-3">
<h1 class="text-center">Integrating Bigg Split</h1>
<br>
<p>We've made it as easy as possible to integrate Bigg Split into of your applications. First, ensure you have an API key accessible.</p>
<pre>
<code>curl https://api.biggsplit.com/user/key -u email:password</code>
</pre>
<p>There are ... </p>

<pre>
<code>GET https://api.biggsplit.com/view  ...</code>
</pre>

<p>And to track a conversion</p>

<pre>
<code>GET https://api.biggsplit.com/outcome  ...</code>
</pre>

</div>
{% endblock %}
