{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
<div class="text-center col-md-8 offset-md-2">
<h1 class="display-3">
  Show your impact
</h1>
<br>
<h3 class="display-5">
  Bigg Split is the A/B testing platform for product managers.
  We make it easy to measure the impact of new products or features on KPIs,
    and it works across any application, device, or framework.
  Best of all, it takes your developers just two lines of code to set up.
</p>
<br>
<a class="btn btn-primary btn-lg" href="{% url 'signup' %}">Get started</a>
</div>
</div>
<div class="container">
  <div class="row text-center">
  <div class="col-md-4">
    <div class="card" style="border: none">
      <img class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">Track stat-sig lift on any KPI</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="border: none">
      <img class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">Integrate any app, device, or framework</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="border: none">
      <img class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">Integrate with your stack in minutes</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
{% endblock %}
