{% extends 'base.html' %}

{% block content %}
<div class="container">
<table class="table">
  <thead>
    <td>Target id</td>
    <td>Converted at</td>
    <td>Experiment Name</td>
  </thead>
  <tbody>
    {% for outcome in outcomes %}
    <tr>
      <td>{{ outcome.target_id }}</td>
      <td>{{ outcome.created_at }}</td>
      <td>{{ outcome.experiment.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
