<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'index' %}">Bigg Split</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'experiment_list' %}">Dashboard</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'account_show' %}">Account</a>
        </li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'developers' %}">Developers</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Support</a></li>
      </ul>

      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><button class="btn btn-outline-danger">Admin</button></a></li>
        {% endif %}
      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><button class="btn btn-outline-secondary">Log out</button></a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><button class="btn btn-outline-primary">Log in</button></a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}"><button class="btn btn-primary">Get started</button></a></li>
      {% endif %}
      </ul>
    </div>
    </nav>

  {% block content %}{% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
