{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3">
  <form method="post" action="{% url 'experiment_create' %}">
    {% csrf_token %}
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    {{ form | crispy }}
  <input class="btn btn-primary btn-block" type="submit" value="Create experiment"></input>
  </form>
  </div>
</div>
{% endblock %}
