{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1>Experiment name: {{ experiment.name }}</h1>
<form class="form-horizontal" method="post" action="{% url 'experiment_delete' experiment.id %}">
  <div class="form-group">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Delete</button>
  </div>
</form>

<h2><a href="{% url 'experiment_exposures' experiment.id %}">Exposures</a></h2>
<ul>
  {% for exposure in experiment.exposure_set.all %}
  <li> {{ exposure.target_id }} | {{ exposure.created_at }} | {{ exposure.segment }} </li>
  {% endfor %}
</ul>

<h2><a href="{% url 'experiment_outcomes' experiment.id %}">Outcomes</a></h2></h2>
<ul>
  {% for outcome in experiment.outcome_set.all %}
  <li> {{ outcome.target_id }} | {{ outcome.created_at }} </li>
  {% endfor %}
</ul>
</div>
{% endblock %}
