{% extends 'base.html' %}
{% block content %}

<div class="container">
<ul class="list-group">
  {% for experiment in experiments %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <h3 class="d-inline">
      <a href="{% url 'experiment_detail' experiment.id %}">{{ experiment.name }}</a>
    </h3>
    <span class="badge badge-info badge-pill">N results</span>
    <span class="btn btn-secondary btn-xs">Update</span>
  </li>
  {% endfor %}
</ul>

<div class="text-right">
  <a class="btn btn-primary" href="{% url 'experiment_create' %}">Create experiment</a>
</div>
</div>

{% endblock %}
